In [ ]:
# import the required libraries
import os
import sys
import pandas as pd
import numpy as np

In [ ]:
# import the dataset
df = pd.read_csv(r"D:\My Project\Visualizing US Natural Disaster Declarations\Data\raw\disaster_declarations_summaries.csv")

Loaded file: D:\My Project\Visualizing US Natural Disaster Declarations\Data\raw\disaster_declarations_summaries.csv
Shape: (69615, 28)

In [16]:
# explore the dataset
# display the well formatted output of the first 5 rows of the dataset, the summary of the dataset and the statistical summary of the dataset
display(df.head())
display(df.info())
display(df.describe())

  femaDeclarationString  disasterNumber state declarationType           declarationDate  fyDeclared  incidentType                                   declarationTitle  ihProgramDeclared  iaProgramDeclared  paProgramDeclared  hmProgramDeclared         incidentBeginDate           incidentEndDate      disasterCloseoutDate  tribalRequest  fipsStateCode  fipsCountyCode  placeCode                            designatedArea  declarationRequestNumber lastIAFilingDate  incidentId  region designatedIncidentTypes               lastRefresh                                      hash                                    id
0            FM-5529-OR            5529    OR              FM  2024-08-09T00:00:00.000Z        2024          Fire                                     LEE FALLS FIRE                  0                  0                  1                  1  2024-08-08T00:00:00.000Z                       NaN                       NaN              0             41              67      99067                       Washington (County)                     24122              NaN  2024081001      10                       R  2024-08-27T18:22:14.800Z  ae87cf3c6ed795015b714af7166c7c295b2b67c7  09e3f81a-5e16-4b72-b317-1c64e0cfa59c
1            FM-5528-OR            5528    OR              FM  2024-08-06T00:00:00.000Z        2024          Fire                                      ELK LANE FIRE                  0                  0                  1                  1  2024-08-04T00:00:00.000Z                       NaN                       NaN              0             41              31      99031                        Jefferson (County)                     24116              NaN  2024080701      10                       R  2024-08-27T18:22:14.800Z  432cf0995c47e3895cea696ede5621b810460501  59983f89-30bf-4888-b21b-62e8d57d9aac
2            FM-5527-OR            5527    OR              FM  2024-08-02T00:00:00.000Z        2024          Fire                               MILE MARKER 132 FIRE                  0                  0                  1                  1  2024-08-02T00:00:00.000Z                       NaN                       NaN              0             41              17      99017                        Deschutes (County)                     24111              NaN  2024080301      10                       R  2024-08-27T18:22:14.800Z  2f21d90cb6bc64b0d4121aa3f18d852bbb4b11fa  8d13ecf0-bc2f-496b-8c9f-b2e73da832a0
3            DR-4312-CA            4312    CA              DR  2017-05-02T00:00:00.000Z        2017  Severe Storm                                           FLOODING                  0                  0                  1                  1  2017-02-08T00:00:00.000Z  2017-02-11T00:00:00.000Z  2025-03-25T00:00:00.000Z              1              6               0      60347  Resighini Rancheria (Indian Reservation)                     17035              NaN  2017041001       9                     NaN  2025-03-26T20:21:32.579Z  432a3a64bdbb291ae26cf5a27a33deeabb380481  98a7c5bb-2346-45aa-a1ca-0399440d4f0b
4            DR-4251-AL            4251    AL              DR  2016-01-21T00:00:00.000Z        2016  Severe Storm  SEVERE STORMS, TORNADOES, STRAIGHT-LINE WINDS,...                  0                  0                  1                  1  2015-12-23T00:00:00.000Z  2015-12-31T00:00:00.000Z  2025-03-27T00:00:00.000Z              0              1               1      99001                          Autauga (County)                     16003              NaN  2015122301       4                     NaN  2025-03-27T12:21:46.559Z  dcd4ce6b37ee49875b3f1e32e9a8a16cd6a803d3  5229bbae-eee6-42b8-b277-edbafa8d6cb2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69615 entries, 0 to 69614
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   femaDeclarationString     69615 non-null  object
 1   disasterNumber            69615 non-null  int64
 2   state                     69615 non-null  object
 3   declarationType           69615 non-null  object
 4   declarationDate           69615 non-null  object
 5   fyDeclared                69615 non-null  int64
 6   incidentType              69615 non-null  object
 7   declarationTitle          69615 non-null  object
 8   ihProgramDeclared         69615 non-null  int64
 9   iaProgramDeclared         69615 non-null  int64
 10  paProgramDeclared         69615 non-null  int64
 11  hmProgramDeclared         69615 non-null  int64
 12  incidentBeginDate         69615 non-null  object
 13  incidentEndDate           68094 non-null  object
 14  disasterCloseoutDate      53038 non-null  object
 15  tribalRequest             69615 non-null  int64
 16  fipsStateCode             69615 non-null  int64
 17  fipsCountyCode            69615 non-null  int64
 18  placeCode                 69615 non-null  int64
 19  designatedArea            69615 non-null  object
 20  declarationRequestNumber  69615 non-null  int64
 21  lastIAFilingDate          19433 non-null  object
 22  incidentId                69615 non-null  int64
 23  region                    69615 non-null  int64
 24  designatedIncidentTypes   21803 non-null  object
 25  lastRefresh               69615 non-null  object
 26  hash                      69615 non-null  object
 27  id                        69615 non-null  object
dtypes: int64(13), object(15)
memory usage: 14.9+ MB

None

       disasterNumber    fyDeclared  ihProgramDeclared  iaProgramDeclared  paProgramDeclared  hmProgramDeclared  tribalRequest  fipsStateCode  fipsCountyCode     placeCode  declarationRequestNumber    incidentId        region
count    69615.000000  69615.000000       69615.000000       69615.000000       69615.000000       69615.000000   69615.000000   69615.000000    69615.000000  69615.000000              69615.000000  6.961500e+04  69615.000000
mean      2713.464943   2005.940918           0.167090           0.246886           0.935603           0.431243       0.002399      31.395001       97.692523  96472.271091              34191.841255  1.609678e+09      5.178654
std       1437.291782     15.201244           0.373059           0.431203           0.245461           0.495254       0.048920      16.628772      102.140165  13662.153586              33661.989981  1.244992e+09      2.112751
min          1.000000   1953.000000           0.000000           0.000000           0.000000           0.000000       0.000000       1.000000        0.000000      0.000000                  3.000000  5.300300e+04      1.000000
25%       1391.000000   1998.000000           0.000000           0.000000           1.000000           0.000000       0.000000      19.000000       31.000000  99029.000000               9080.000000  9.806600e+04      4.000000
50%       3189.000000   2008.000000           0.000000           0.000000           1.000000           0.000000       0.000000      29.000000       75.000000  99073.000000              20062.000000  2.008092e+09      5.000000
75%       4015.000000   2020.000000           0.000000           0.000000           1.000000           1.000000       0.000000      46.000000      127.000000  99125.000000              72034.000000  2.020031e+09      7.000000
max       5615.000000   2026.000000           1.000000           1.000000           1.000000           1.000000       1.000000      78.000000      840.000000  99507.000000              99159.000000  9.062400e+09     10.000000

In [17]:
# checks the data types of the columns in the dataset
display(df.dtypes)
# checks the number of unique values in each column of the dataset
display(df.nunique())

femaDeclarationString       object
disasterNumber               int64
state                       object
declarationType             object
declarationDate             object
fyDeclared                   int64
incidentType                object
declarationTitle            object
ihProgramDeclared            int64
iaProgramDeclared            int64
paProgramDeclared            int64
hmProgramDeclared            int64
incidentBeginDate           object
incidentEndDate             object
disasterCloseoutDate        object
tribalRequest                int64
fipsStateCode                int64
fipsCountyCode               int64
placeCode                    int64
designatedArea              object
declarationRequestNumber     int64
lastIAFilingDate            object
incidentId                   int64
region                       int64
designatedIncidentTypes     object
lastRefresh                 object
hash                        object
id                          object
dtype: object

femaDeclarationString        5148
disasterNumber               5148
state                          59
declarationType                 3
declarationDate              3577
fyDeclared                     74
incidentType                   27
declarationTitle             2461
ihProgramDeclared               2
iaProgramDeclared               2
paProgramDeclared               2
hmProgramDeclared               2
incidentBeginDate            3283
incidentEndDate              3349
disasterCloseoutDate         1990
tribalRequest                   2
fipsStateCode                  59
fipsCountyCode                347
placeCode                    1309
designatedArea               2960
declarationRequestNumber     5148
lastIAFilingDate              558
incidentId                   4394
region                         10
designatedIncidentTypes       116
lastRefresh                   249
hash                        69615
id                          69615
dtype: int64

In [18]:
# Parse Dates and Timezones
#Convert date columns to datetime: FEMA dates often load as strings. Use parse_dates in read_csv or pd.to_datetime.
date_columns = ['declarationDate', 'incidentBeginDate', 'incidentEndDate','disasterCloseoutDate', 'lastRefresh']
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')
# Check for timezone information: FEMA data may not include timezones, but if it does, ensure consistency.
# If timezone info is present, convert to a common timezone (e.g., UTC)
# df['declarationDate'] = df['declarationDate'].dt.tz_convert('UTC')  # Uncomment if timezone info exists

In [19]:
# information about the dataset
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69615 entries, 0 to 69614
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   femaDeclarationString     69615 non-null  object
 1   disasterNumber            69615 non-null  int64
 2   state                     69615 non-null  object
 3   declarationType           69615 non-null  object
 4   declarationDate           69615 non-null  datetime64[ns, UTC]
 5   fyDeclared                69615 non-null  int64
 6   incidentType              69615 non-null  object
 7   declarationTitle          69615 non-null  object
 8   ihProgramDeclared         69615 non-null  int64
 9   iaProgramDeclared         69615 non-null  int64
 10  paProgramDeclared         69615 non-null  int64
 11  hmProgramDeclared         69615 non-null  int64
 12  incidentBeginDate         69615 non-null  datetime64[ns, UTC]
 13  incidentEndDate           68094 non-null  datetime64[ns, UTC]
 14  disasterCloseoutDate      53038 non-null  datetime64[ns, UTC]
 15  tribalRequest             69615 non-null  int64
 16  fipsStateCode             69615 non-null  int64
 17  fipsCountyCode            69615 non-null  int64
 18  placeCode                 69615 non-null  int64
 19  designatedArea            69615 non-null  object
 20  declarationRequestNumber  69615 non-null  int64
 21  lastIAFilingDate          19433 non-null  object
 22  incidentId                69615 non-null  int64
 23  region                    69615 non-null  int64
 24  designatedIncidentTypes   21803 non-null  object
 25  lastRefresh               69615 non-null  datetime64[ns, UTC]
 26  hash                      69615 non-null  object
 27  id                        69615 non-null  object
dtypes: datetime64[ns, UTC](5), int64(13), object(10)
memory usage: 14.9+ MB

None

In [20]:
#Standardize Categorical Fields
# Clean text fields like incidentType and state. Trim whitespace, fix capitalization, and unify similar entries. For instance, remove trailing spaces and use consistent casing.
df['incidentType'] = df['incidentType'].str.strip().str.title()
df['state'] = df['state'].str.strip().str.upper()

In [21]:
# normalize_columns.py cell
# Normalize column names to snake_case for ease of use
def to_snake(s):
    return (
        s.strip()
        .replace(" ", "_")
        .replace("-", "_")
        .replace("/", "_")
        .lower()
    )

df.columns = [to_snake(c) for c in df.columns]
print("Normalized columns.")
display(df.columns.tolist())

Normalized columns.

['femadeclarationstring',
 'disasternumber',
 'state',
 'declarationtype',
 'declarationdate',
 'fydeclared',
 'incidenttype',
 'declarationtitle',
 'ihprogramdeclared',
 'iaprogramdeclared',
 'paprogramdeclared',
 'hmprogramdeclared',
 'incidentbegindate',
 'incidentenddate',
 'disastercloseoutdate',
 'tribalrequest',
 'fipsstatecode',
 'fipscountycode',
 'placecode',
 'designatedarea',
 'declarationrequestnumber',
 'lastiafilingdate',
 'incidentid',
 'region',
 'designatedincidenttypes',
 'lastrefresh',
 'hash',
 'id']

In [22]:
# Handle Missing Values
# Identify columns with missing values and decide on a strategy (e.g., imputation, removal
missing_values = df.isnull().sum()
display(missing_values)

femadeclarationstring           0
disasternumber                  0
state                           0
declarationtype                 0
declarationdate                 0
fydeclared                      0
incidenttype                    0
declarationtitle                0
ihprogramdeclared               0
iaprogramdeclared               0
paprogramdeclared               0
hmprogramdeclared               0
incidentbegindate               0
incidentenddate              1521
disastercloseoutdate        16577
tribalrequest                   0
fipsstatecode                   0
fipscountycode                  0
placecode                       0
designatedarea                  0
declarationrequestnumber        0
lastiafilingdate            50182
incidentid                      0
region                          0
designatedincidenttypes     47812
lastrefresh                     0
hash                            0
id                              0
dtype: int64

In [23]:
# handle missing values in the 'incidentEndDate' column by filling them with the 'incidentBeginDate' values
date_cols = [
    "declarationdate",
    "incidentbegindate",
    "incidentenddate",
    "disastercloseoutdate",
    "lastiafilingdate",
    "lastrefresh",
]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [24]:
# fill missing values in the declarationtype column with the most frequent value
df["designatedIncidenttypes"] = df["designatedincidenttypes"].fillna("Not Specified")

In [25]:
# verify that there are no more missing values in the dataset
missing_values_after = df.isnull().sum()
display(missing_values_after)

femadeclarationstring           0
disasternumber                  0
state                           0
declarationtype                 0
declarationdate                 0
fydeclared                      0
incidenttype                    0
declarationtitle                0
ihprogramdeclared               0
iaprogramdeclared               0
paprogramdeclared               0
hmprogramdeclared               0
incidentbegindate               0
incidentenddate              1521
disastercloseoutdate        16577
tribalrequest                   0
fipsstatecode                   0
fipscountycode                  0
placecode                       0
designatedarea                  0
declarationrequestnumber        0
lastiafilingdate            50182
incidentid                      0
region                          0
designatedincidenttypes     47812
lastrefresh                     0
hash                            0
id                              0
designatedIncidenttypes         0
dtype: int64

In [26]:
# save the cleaned dataset to a new csv file
output_path = r"D:\My Project\Visualizing US Natural Disaster Declarations\Data\processed\disaster_declarations_summaries_cleaned.csv"
df.to_csv(output_path, index=False)